* {
  box-sizing: border-box;
}

body {
  font-family: "Kiwi Maru", serif;
}

a {
  text-decoration: none;
}

/* -----------------------------------------------

ヘッダー

--------------------------------------------------- */
.wapper {
  width: 100%;
}

.header {
  width: 100%;
  height: 8vh;
  background-color: #a9a9a9;
  display: flex;
  align-items: center;
}

.header-contents {
  display: flex;
  margin: 0 auto;
  padding: 10px 50px;
  align-items: center;
}

.bi {
  width: 200%;
  height: auto;
  color: #ffff00;
}

.logo {
  font-size: 2em;
  color: #fafafa;
  letter-spacing: 0.5em;
}

.container {
  display: flex;
  margin: 0 auto;
}

/* -----------------------------------------------

メモ入力画面 

--------------------------------------------------- */

.new {
  width: 30%;
  height: 100vh;
}

.inputarea {
  margin: 20px 20px;
  background-color: #d3d3d3;
  border-radius: 10px;
}

.inputarea-title {
  text-align: center;
  padding: 20px 20px;
  font-weight: bold;
}

input {
  border: none;
  border-radius: 10px;
  outline: none;
  resize: none;
  width: 90%;
  height: 5vh;
  padding: 20px;
}

textarea {
  border: none;
  border-radius: 10px;
  outline: none;
  resize: none;
  width: 90%;
  padding: 20px;
}

label:active {
  cursor: text;
}

.inputarea-text {
  text-align: center;
  padding: 20px 20px;
  font-weight: bold;
}

.input-text-long {
  display: block;
  margin: 0 auto;
}

.new-btn {
  width: 100%;
  text-align: center;
}

.savebtn {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 10px;
  text-decoration: none;
  background: #668ad8; /*ボタン色*/
  color: #fff;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.savebtn:active {
  cursor: pointer;
  -webkit-transform: translateY(4px);
  transform: translateY(4px); /*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2); /*影を小さく*/
  border-bottom: none;
}

/* -----------------------------------------------

メモ一覧 

--------------------------------------------------- */
.memoblock {
  width: 30%;
  height: 100vh;
  margin: 20px 20px;
  background-color: #d3d3d3;
  border-radius: 10px;
  overflow: scroll;
}

.memoblock-header {
  position: relative;
  width: 100%;
  height: 3vh;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background-color: #fff;
  color: #000;
  font-size: 12px;
  margin: 16px;
}

.new-item {
  width: 30px;
}

.memoblock-contents {
  margin: 23px;
}

.memo-item {
  position: relative;
  margin-bottom: 20px;
  padding: 5px 15px;
  width: 100%;
  height: 9vh;
  border-radius: 10px;
  background-color: #fff;
}

.memo-item-textarea {
  width: 100%;
  height: 100%;
  font-size: 12px;
  padding: 1px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: scroll;
  word-wrap: break-word;
}

/* -----------------------------------------------

メモ掛け算

--------------------------------------------------- */

.show {
  width: 30%;
  height: 100vh;
  margin: 20px 20px;
  background-color: #d3d3d3;
  border-radius: 10px;
}

.showarea {
  text-align: center;
}

.showtitle {
  text-align: center;
  padding: 20px 20px;
}

.shuffle {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #ffff00; /*ボタン色*/
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.shuffle:active {
  cursor: pointer;
  transform: translateY(4px); /*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.memoarea {
  width: 90%;
  margin: 10px auto;
}

.memosize {
  width: 100%;
  height: 15vh;
  margin: 5px auto;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #fff;
  overflow: scroll;
  word-wrap: break-word;
}

.memotext {
  font-size: 13px;
}

.mark {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.answer-title {
  padding: 15px 0;
}

.show-answer {
  display: block;
  height: 25vh;
  margin: 0 auto;
}

.idea-save {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 10px;
  text-decoration: none;
  background: #668ad8; /*ボタン色*/
  color: #fff;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.idea-save:active {
  cursor: pointer;
  -webkit-transform: translateY(4px);
  transform: translateY(4px); /*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2); /*影を小さく*/
  border-bottom: none;
}

/* -----------------------------------------------

2段目メモ一覧

--------------------------------------------------- */

.second-container {
  width: 100%;
  height: auto;
}

.title {
  position: relative;
  width: 30%;
  margin: 0 auto;
}

.delete-mixidea-btn {
  display: block;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  margin: 10px auto;
}

.tag {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
}

.idea-board {
  width: 90%;
  height: 100vh;
  margin: 0px auto;
  background-color: #d3d3d3;
  border-radius: 10px;
  overflow: scroll;
  word-wrap: break-word;
}

.idea-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px auto;
}

.memolist {
  position: relative;
  width: 18vw;
  height: 30vh;
  background-color: #fff;
  border-radius: 10px;
  margin: 15px;
}

.stock-text {
  margin: 10px;
  overflow: scroll;
  word-wrap: break-word;
}
