*{
    box-sizing: border-box;
}

body{
    font-family: 'Kiwi Maru', serif;
    width: 30%;
    margin: 50px auto;
}

a{
    text-decoration: none;
}

.header{
    margin: 0 auto;
}

.header-contents{
    height: 8vh;
    background-color: #a9a9a9;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    border-radius: 10px;
}

.logo{
    width: 100%;
    font-size: 2em;
    color: #fafafa;
    letter-spacing: 0.5em;
    text-align: center;
}

#firebaseui-auth-container{
    padding: 20px;
}