*{
    box-sizing: border-box;
}

body{
    font-family: 'Kiwi Maru', serif;   
}

a{
    text-decoration: none;
}

/* -----------------------------------------------

ヘッダー

--------------------------------------------------- */
.wapper{
    width: 100%;
}

.header{
    width: 100%;
    height: 8vh;
    background-color: #a9a9a9;
    display: flex;
    align-items: center;
}

.header-contents{
    display: flex;
    padding: 10px 50px;
    width: 100%;
    align-items: center;
}

.bi{
    width: 200%;
    height: auto;
    color: #ffff00;
}


.logo{
    font-size: 2em;
    color: #fafafa;
    letter-spacing: 0.5em;
}

.mode-btn1{
    width: 10vw;
    height: 5vh;
    margin-right: 20px;
    border: none;
    border-bottom: solid 4px #627295;
}

.mode-btn1:active{
    cursor: pointer;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

.mode-btn2{
    width: 10vw;
    height: 5vh;
    margin-right: 20px;
    border: none;
    background-color: #ffff00;
    border-bottom: solid 4px #627295;
}

.mode-btn2:active{
    cursor: pointer;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}


/* エラー表示
.error{
    display: none;
    width: 100%;
    background-color: red;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;

} */

.container{
    display: flex;
    margin: 0 auto;
}


/* -----------------------------------------------

モバイル用メニューボタン

--------------------------------------------------- */

.nav{
    display: none;
}


/* -----------------------------------------------

メモ入力画面 

--------------------------------------------------- */

.new{
    width: 30%;
    height: 100vh;
}

.inputarea{
    margin: 20px 20px;
    background-color: #d3d3d3;
    border-radius: 10px;
}

.inputarea-title{
    text-align: center;
    padding: 20px 20px;
    font-weight: bold;
}

input{
    border: none;
    border-radius: 10px;
    outline: none;
    resize: none;
    width: 90%;
    height: 5vh;
    padding: 20px;
}

textarea{
    border: none; 
    border-radius: 10px;
    outline: none;
    resize: none;
    width: 90%;
    padding: 20px;
}

label:active{
    cursor: text;
}

.inputarea-title-input{
    display: block;
    margin: 0 auto;
}

.inputarea-text{
    text-align: center;
    padding: 20px 20px;
    font-weight: bold;
}

.input-text-long{
    display: block;
    margin: 0 auto;
}

.new-btn{
    width: 100%;
    text-align: center;
}

.savebtn{
  display: inline-block;
  padding: 0.5em 1em;
  margin: 10px;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.savebtn:active{
    cursor: pointer;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

/* -----------------------------------------------

メモ一覧 

--------------------------------------------------- */
.memoblock{
    width: 30%;
    height: 100vh;
    margin: 20px 20px;
    background-color: #d3d3d3;
    border-radius: 10px;
    overflow: scroll;
}

.memoblock-header{
    width: 100%;
    height: 3vh;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.memoblock-title{
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
}

.new-item{
    width: 30px;
}

.bi-file-earmark-plus{
    width: 1.5em;
    height: 1.5em;
}

.memoblock-contents{
    margin: 23px;
}

.textarea-items{
    margin-bottom: 20px;
    padding: 5px 15px;
    width: 100%;
    height: 9vh;
    border-radius: 10px;
    background-color: #fff;
}

.textarea-items-title{
    padding: 5px;
    font-weight: bold;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.textarea-items-text{
    font-size: 12px;
    padding: 1px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-wrap: break-word;
}

/* -----------------------------------------------

メモ掛け算（モード1）

--------------------------------------------------- */

.show{
    width: 30%;
    height: 100vh;
    margin: 20px 20px;
    background-color: #d3d3d3;
    border-radius: 10px;
}

.showarea{
    text-align: center;
}

.showtitle{
    text-align: center;
    padding: 20px 20px;
}

.shuffle{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #ffff00;/*ボタン色*/
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.shuffle:active{
    cursor: pointer;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

.memoarea{
    width: 90%;
    margin: 10px auto;
}

.memosize{
    width: 100%;
    height: 15vh;
    margin: 5px auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
    overflow: scroll;
    word-wrap: break-word;
}

.memotitle{
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: bold;
}

.memotext{
    font-size: 13px;
;}

.mark{
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

.answer-title{
    padding: 15px 0;
}

.show-answer{
    display: block;
    height: 25vh;
    margin: 0 auto;
}

.idea-save{
  display: inline-block;
  padding: 0.5em 1em;
  margin: 10px;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.idea-save:active{
    cursor: pointer;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

/* -----------------------------------------------

メモ掛け算（モード2）

--------------------------------------------------- */

.second-contents{
    display: none;
    width: 30%;
    height: 100vh;
    margin: 20px 20px;
    background-color: #d3d3d3;
    border-radius: 10px;
}


/* -----------------------------------------------

モーダル

--------------------------------------------------- */

.modal{
    display: none;
    position: static;
    z-index: 10;
}

.inputbox{
    background: #c0c0c0;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    height: 60%;
    text-align: center;
    border: 1px solid #d3d3d3;
}

.inputbox-shadow{
    background: rgba(0,0,0,0.5);
    height: 100%;
    position: absolute;
    width: 100%;
}

.inputbox-title{
    padding: 10px 0;
}

.modal-title-input{
    width: 80%;
}
.inputbox-text{
    padding: 10px 0;
}

.modal-long{
    width: 80%;
}

.modal-btn{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    align-items: center;
}

.modal-closebtn{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #a7a7a7;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.modal-closebtn:active{
    cursor: pointer;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

.modal-savebtn{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.modal-savebtn:active{
    cursor: pointer;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

.staticmemo {
    background-color: #627295;
}

/* -----------------------------------------------

2段目メモ一覧

--------------------------------------------------- */

.second-container{
    width: 100%;
    height: auto;
}

.tag{
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}

.idea-board{
    width: 90%;
    height: 100vh;
    margin: 0px auto;
    background-color: #d3d3d3;
    border-radius: 10px;
    overflow: scroll;
    word-wrap: break-word;
}

.idea-box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px auto;
}

.memolist{
    width: 18vw;
    height: 30vh;
    background-color: #fff;
    border-radius: 10px;
    margin: 15px;
}

.stock{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.stock-text{
    overflow: scroll;
    word-wrap: break-word;
}

.delete-tag{
    text-align: end;
}


/* -----------------------------------------------

ipad対応

--------------------------------------------------- */

@media screen and (max-width:1000px){

.mode-btn1, .mode-btn2{
    display: none;
}

}


/* -----------------------------------------------

モバイル対応

--------------------------------------------------- */
@media screen and (max-width:650px){

.container{
    display: contents;
    margin: 0 auto;
}

.nav{
    display: block;
    width: 100%;
}

.nav-bar{
    display: flex;
    height: 5vh;
    margin: 10px;
}

.main-btn{
    width: 50%;
    background-color: #ffff00;
    border-radius: 10px;
    margin: 0 10px;
    border: 1px solid #a9a9a9;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

.main-btn:active{
    cursor: pointer;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

.main-btn p{
    text-align: center;
    padding: 8px;
}

.sub-btn{
    width: 50%;
    background-color: #d3d3d3;
    border-radius: 10px;
    margin: 0 5px;
    border: 1px solid #a9a9a9;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

.sub-btn:active{
    cursor: pointer;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

.sub-btn p{
    text-align: center;
    padding: 8px;
}

.new{
    width: 100%;
    height: auto;
}

.inputarea{
    margin: 20px 0;
}

.memoblock{
    width: 100%;
    margin: 20px 0;
}

.show{
    display: none;
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.idea-board{
    display:inline-block;
    width: 100%;
    padding: 10px;

}

.memolist{
    width: 100%;
    margin: 10px;
}

.second-container{
    display: none;
}

}
/* -----------------------------------------------
モバイル対応終わり
--------------------------------------------------- */